# Ignore temporary files
**/\#*\#
**/*~
**/~*

# Ignore main build artifacts / binaries
**/*.o
*.a
a.out

# Ignore core dumps
vgcore*

# Ignore test build artifacts / binaries
tests/*.o
tests/module_tests
test.json
**/*.gc*

# Ignore lib binaries
**/*.a

# Ignore generated docs
docs/html/

# Some ide/lsp-specific junk
.vscode/
compile_flags.txt

# Doxygen stuff
Doxyfile.bak
